  html {
    height: 100%;
    width: 100%;
  }

  body {
  font-family: "Circular", sans-serif;
  background-image: url(background.jpeg);
  }

.open{
  position: absolute;
  width: 100%;
  height: 1000px;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(45deg, black,black,black,black,black,black, black,black,black,black,black,black,black);
  animation: revil 2s forwards;
  animation-timing-function: ease;
  z-index: 1;
}

  .main {
    border-radius: 50px;
    margin-top: 0px;
    margin: 0 auto;
    background-color: #F5F5F5;
    height: 710px;
    width: 410px;
    border-top: 51px solid black;
    border-bottom: 70px solid black;
    border-left: 15px solid black;
    border-right: 15px solid black;
    z-index: -2;
  }

  #pfp,#title {
    display: inline;
  }

#title {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-left: 26px;
}

#pfp {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-left: 58%;
  top: 10px;
}

.money {
  background-color: white;
  margin: 0 auto;
  width: 350px;
  height: 200px;
  border-radius: 20px;
  margin-top: 25px;
 }

#Btext,
  Atext {
  display: inline;
}

#Atext {
  position: relative;
  font-weight: bolder;
  font-size: 12px;
  color: grey;
  left: 175px;
  top: -14px;
  }

#Btext {
  position: relative;
  font-weight: bolder;
  top: 15px;
  left: 10px;
  }

#symbol,#amount,#amount::placeholder {
  display: inline;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  }

  #symbol {
    left: 8px;
  }

  #amount {
  background-color: transparent;
  border: 0px none transparent;
  width: 300px;
}

#add,#out {
  position: relative;
  background-color: #F5F5F5;
  height: 50px;
  width: 150px;
  border-radius: 100px;
  border: 1px solid #F5F5F5;
  top: 20px;
  left: 20px;
  font-weight: bold;
  font-size: 16px;
  }

.saving,.bitcoin,.stocks {
  position: absolute;
  border-radius: 20px;
  background-color: white;
  width: 160px;
  height: 178px;
  margin-left: 24px;
  margin-top: 20px;
  font-size: 15px;
}

.saving,.bitcoin {
  display: inline;
  }

  .bitcoin {
    margin-left: 220px;
  }

.saving p,.bitcoin p,.stocks p,#stockslogo,#moneylogo,#bitcoinlogo {
  margin-left: 10px;
  }

  .stocks {
    margin-top: 240px;
  }

  #stockslogo,
  #moneylogo,
  #bitcoinlogo {
    height: 35px;
    width: 35px;
  }

  #symbol2,
  #smoney {
    font-weight: bold;
    display: inline;
    position: relative;
    font-size: 23px;
    width: 80px;
    color: black;
    top: 50px;
    left: -50px;
  }

  #smoney {
    color: black;
    background-color: transparent;
    border: 0px none transparent;
  }

  #smoney::placeholder {
    color: black;
    font-weight: bolder;
  }

  #goal,
  #lowertext2,
  #lowertext3 {
    margin-top: 63px;
    color: grey;
  }

@keyframes revil{
  10%{
    background-image: linear-gradient(45deg, black,black,black,black,black,black,transparent,black,black,black,black,black,black);
  }
  20%{
    background-image: linear-gradient(65deg,black,black,black,black,transparent,transparent,transparent,black,black,black,black);
  }
  30%{
    background-image: linear-gradient(85deg,black,black,black,transparent,transparent,transparent,transparent,transparent,black,black,black);
  }
  40%{
    background-image: linear-gradient(95deg,black,black,transparent,transparent,transparent,transparent,transparent,transparent,transparent,black,black);

  }
  50%{
    background-image: linear-gradient(115deg, black,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,black);
  }
  60%{
  visibility: hidden;
  }
  100%{
  visibility: hidden;
  }
}
